.destaque{
    height: 100vh;
}
.destaque-vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}
.destaque-horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
}
.destaque-nome{
    font-size: 60px;
    font-weight: bold;
}
.destaque-info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.destaque-pontos, 
.destaque-ano, 
.destaque-temporadas{
    display: inline-block;
    margin-right: 15px;
}
.destaque-pontos{
    color: #46d369;
}

.destaque-descricao{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}
.destaque-botoes{
    margin-top: 15px;
}
.destaque-botao-assistir,
.destaque-botao-minhalista{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.3s;
}
.destaque-botao-assistir{
    background-color: #fff;
    color: #000;
}
.destaque-botao-minhalista{
    background-color: #333;
    color: #fff;
}
.destaque-botao-assistir:hover,
.destaque-botao-minhalista:hover{
    opacity: 0.7;
}
.destaque-generos{
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}